* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  margin: 1em auto;
  width: 90vw;
}
#inputsDiv {
  width: 45vw;
}
#name {
  margin-top: 1em;
  margin-left: 3em;
}
#maths {
  margin-top: 1em;
  margin-left: 2.8em;
}
#physics {
  margin-top: 1em;
  margin-left: 2.3em;
}
#chemistry {
  margin-top: 1em;
  margin-left: 0.8em;
}
#french {
  margin-top: 1em;
  margin-left: 2.6em;
}
#english {
  margin-top: 1em;
  margin-left: 2.5em;
}
#submit {
  margin-top: 1em;
  margin-left: 3em;
}
